@model EPiServerCustomProperty.Models.Pages.HomePage

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
</head>
<body>

</body>
</html>
